<div class="container">
  <%= link_to 'Create a new list', new_list_path, class: 'btn btn-primary' %>
  <div class="index">
  	<h1>All my Movies</h1>
  	<ul>
  	  <% @movies.each do |movie| %>
  	  <div class="card">
  	    <%= link_to movie.title, movie_path(movie), class: 'list' %>
  	  </div>
  	  <% end %>
  	</ul>
  </div>
  <%= link_to 'All lists', lists_path, class: 'btn btn-primary' %>
</div>
